 /* Variables  */

 :root {
	--background-informative-on-subtle: rgba(48, 98, 212, 0.16);
	--background-informative-on-subtle: rgba(103, 146, 244, 0.24);
	--background-positive-on-subtle: rgba(29, 124, 77, 0.16);
	--background-positive-on-subtle: rgba(74, 165, 120, 0.24);
	--background-warning-on-subtle: rgba(245, 150, 56, 0.16);
	--background-warning-on-subtle: rgba(246, 163, 81, 0.24);
	--background-negative-on-subtle: rgba(197, 52, 52, 0.16);
	--background-negative-on-subtle: rgba(242, 100, 100, 0.24);
	--background-brand-on-subtle: rgba(99, 78, 202, 0.16);
	--background-brand-on-subtle: rgba(145, 126, 241, 0.24);
	--action-primary-subtle-normal: rgba(99, 78, 202, 0.08);
	--action-primary-subtle-normal: rgba(145, 126, 241, 0.12);
	--action-primary-subtle-hover: rgba(99, 78, 202, 0.16);
	--action-primary-subtle-hover: rgba(145, 126, 241, 0.16);
	--action-primary-subtle-active: rgba(99, 78, 202, 0.24);
	--action-primary-subtle-active: rgba(145, 126, 241, 0.2);
	--action-primary-subtle-selected: rgba(99, 78, 202, 0.16);
	--action-primary-subtle-selected: rgba(145, 126, 241, 0.16);
	--action-alert-subtle-normal: rgba(197, 52, 52, 0.08);
	--action-alert-subtle-normal: rgba(242, 100, 100, 0.12);
	--action-alert-subtle-hover: rgba(197, 52, 52, 0.16);
	--action-alert-subtle-hover: rgba(242, 100, 100, 0.16);
	--action-alert-subtle-active: rgba(197, 52, 52, 0.24);
	--action-alert-subtle-active: rgba(242, 100, 100, 0.24);
	--action-alert-subtle-selected: rgba(197, 52, 52, 0.16);
	--action-alert-subtle-selected: rgba(242, 100, 100, 0.16);
	--action-background-modeless: rgba(255, 255, 255, 1);
	--non-semantic-border-grey-strong: rgba(85, 95, 109, 1);
	--non-semantic-border-grey-strong: rgba(85, 95, 109, 1);
	--non-semantic-background-red-muted: rgba(197, 52, 52, 0.24);
	--non-semantic-background-red-muted: rgba(242, 100, 100, 0.32);
	--non-semantic-background-red-on-subtle: rgba(197, 52, 52, 0.16);
	--non-semantic-background-red-on-subtle: rgba(242, 100, 100, 0.24);
	--non-semantic-background-raspberry-muted: rgba(192, 48, 96, 0.24);
	--non-semantic-background-raspberry-muted: rgba(228, 98, 141, 0.32);
	--non-semantic-background-raspberry-on-subtle: rgba(192, 48, 96, 0.16);
	--non-semantic-background-raspberry-on-subtle: rgba(228, 98, 141, 0.24);
	--non-semantic-background-magenta-muted: rgba(228, 98, 141, 0.24);
	--non-semantic-background-magenta-muted: rgba(222, 94, 179, 0.32);
	--non-semantic-background-magenta-on-subtle: rgba(228, 98, 141, 0.16);
	--non-semantic-background-magenta-on-subtle: rgba(222, 94, 179, 0.24);
	--non-semantic-background-purple-muted: rgba(153, 57, 172, 0.24);
	--non-semantic-background-purple-muted: rgba(196, 102, 219, 0.32);
	--non-semantic-background-purple-on-subtle: rgba(153, 57, 172, 0.16);
	--non-semantic-background-purple-on-subtle: rgba(196, 102, 219, 0.24);
	--non-semantic-background-grape-muted: rgba(128, 64, 191, 0.24);
	--non-semantic-background-grape-muted: rgba(173, 113, 234, 0.32);
	--non-semantic-background-grape-on-subtle: rgba(128, 64, 191, 0.16);
	--non-semantic-background-grape-on-subtle: rgba(173, 113, 234, 0.24);
	--non-semantic-background-violet-muted: rgba(99, 78, 202, 0.24);
	--non-semantic-background-violet-muted: rgba(145, 126, 241, 0.32);
	--non-semantic-background-violet-on-subtle: rgba(99, 78, 202, 0.16);
	--non-semantic-background-violet-on-subtle: rgba(145, 126, 241, 0.24);
	--non-semantic-background-blue-muted: rgba(48, 98, 212, 0.24);
	--non-semantic-background-blue-muted: rgba(103, 146, 244, 0.32);
	--non-semantic-background-blue-on-subtle: rgba(48, 98, 212, 0.16);
	--non-semantic-background-blue-on-subtle: rgba(103, 146, 244, 0.24);
	--non-semantic-background-cyan-muted: rgba(8, 112, 186, 0.24);
	--non-semantic-background-cyan-muted: rgba(86, 153, 220, 0.32);
	--non-semantic-background-cyan-on-subtle: rgba(8, 112, 186, 0.16);
	--non-semantic-background-cyan-on-subtle: rgba(86, 153, 220, 0.24);
	--non-semantic-background-teal-muted: rgba(8, 112, 186, 0.24);
	--non-semantic-background-teal-muted: rgba(86, 153, 220, 0.32);
	--non-semantic-background-teal-on-subtle: rgba(8, 112, 186, 0.16);
	--non-semantic-background-teal-on-subtle: rgba(86, 153, 220, 0.24);
	--non-semantic-background-aquamarine-muted: rgba(9, 124, 105, 0.24);
	--non-semantic-background-aquamarine-muted: rgba(61, 164, 151, 0.32);
	--non-semantic-background-aquamarine-on-subtle: rgba(9, 124, 105, 0.16);
	--non-semantic-background-aquamarine-on-subtle: rgba(61, 164, 151, 0.24);
	--non-semantic-background-green-muted: rgba(29, 124, 77, 0.24);
	--non-semantic-background-green-muted: rgba(74, 165, 120, 0.32);
	--non-semantic-background-green-on-subtle: rgba(29, 124, 77, 0.16);
	--non-semantic-background-green-on-subtle: rgba(74, 165, 120, 0.24);
	--non-semantic-background-emerald-muted: rgba(52, 116, 52, 0.24);
	--non-semantic-background-emerald-muted: rgba(85, 165, 85, 0.32);
	--non-semantic-background-emerald-on-subtle: rgba(52, 116, 52, 0.16);
	--non-semantic-background-emerald-on-subtle: rgba(85, 165, 85, 0.24);
	--non-semantic-background-orange-muted: rgba(245, 150, 56, 0.24);
	--non-semantic-background-orange-muted: rgba(246, 163, 81, 0.32);
	--non-semantic-background-orange-on-subtle: rgba(245, 150, 56, 0.16);
	--non-semantic-background-orange-on-subtle: rgba(246, 163, 81, 0.24);
	--global-cool-grey-cool-grey--4: rgba(27, 36, 44, 1);
	--global-cool-grey-cool-grey--4: rgba(27, 36, 44, 1);
	--global-cool-grey-cool-grey--3: rgba(39, 46, 53, 1);
	--global-cool-grey-cool-grey--3: rgba(39, 46, 53, 1);
	--global-cool-grey-cool-grey--2: rgba(58, 66, 74, 1);
	--global-cool-grey-cool-grey--2: rgba(58, 66, 74, 1);
	--global-cool-grey-cool-grey-+1: rgba(126, 139, 153, 1);
	--global-cool-grey-cool-grey-+1: rgba(126, 139, 153, 1);
	--global-cool-grey-cool-grey-+5: rgba(233, 236, 239, 1);
	--global-cool-grey-cool-grey-+5: rgba(233, 236, 239, 1);
	--global-cool-grey-alpha-cool-greya-+1: rgba(24, 48, 72, 0.56);
	--global-cool-grey-alpha-cool-greya-+1: rgba(24, 48, 72, 0.56);
	--global-cool-grey-alpha-cool-greya-+3: rgba(16, 48, 84, 0.2);
	--global-cool-grey-alpha-cool-greya-+3: rgba(16, 48, 84, 0.2);
	--global-cool-grey-alpha-cool-greya-+4: rgba(4, 41, 68, 0.13);
	--global-cool-grey-alpha-cool-greya-+4: rgba(4, 41, 68, 0.13);
	--global-cool-grey-alpha-cool-greya-+5: rgba(16, 40, 72, 0.09);
	--global-cool-grey-alpha-cool-greya-+5: rgba(16, 40, 72, 0.09);
	--global-cool-grey-alpha-cool-greya-+6: rgba(2, 47, 82, 0.06);
	--global-cool-grey-alpha-cool-greya-+6: rgba(2, 47, 82, 0.06);
	--global-cool-grey-alpha-cool-greya-+7: rgba(0, 43, 94, 0.04);
	--global-cool-grey-alpha-cool-greya-+7: rgba(0, 43, 94, 0.04);
	--global-neutral-grey-neutral-grey--4: rgba(34, 34, 34, 1);
	--global-neutral-grey-neutral-grey--4: rgba(34, 34, 34, 1);
	--global-white-alpha-transparent: rgb(255, 255, 255);
	--global-white-alpha-transparent: rgb(255, 255, 255);
	--global-white-alpha-whitea--12: rgba(255, 255, 255, 0.02);
	--global-white-alpha-whitea--12: rgba(255, 255, 255, 0.02);
	--global-white-alpha-whitea--10: rgba(255, 255, 255, 0.05);
	--global-white-alpha-whitea--10: rgba(255, 255, 255, 0.05);
	--global-white-alpha-whitea--9: rgba(255, 255, 255, 0.08);
	--global-white-alpha-whitea--9: rgba(255, 255, 255, 0.08);
	--global-white-alpha-whitea--8: rgba(255, 255, 255, 0.1);
	--global-white-alpha-whitea--8: rgba(255, 255, 255, 0.1);
	--global-white-alpha-whitea--7: rgba(255, 255, 255, 0.12);
	--global-white-alpha-whitea--7: rgba(255, 255, 255, 0.12);
	--global-white-alpha-whitea--6: rgba(255, 255, 255, 0.24);
	--global-white-alpha-whitea--6: rgba(255, 255, 255, 0.24);
	--global-white-alpha-whitea--5: rgba(255, 255, 255, 0.4);
	--global-white-alpha-whitea--5: rgba(255, 255, 255, 0.4);
	--global-white-alpha-whitea--4: rgba(255, 255, 255, 0.64);
	--global-white-alpha-whitea--4: rgba(255, 255, 255, 0.64);
	--global-white-alpha-whitea--2: rgba(255, 255, 255, 0.72);
	--global-white-alpha-whitea--2: rgba(255, 255, 255, 0.72);
	--global-white-alpha-whitea--1: rgba(255, 255, 255, 0.82);
	--global-white-alpha-whitea--1: rgba(255, 255, 255, 0.82);
	--global-white-alpha-whitea-0: rgba(255, 255, 255, 1);
	--global-white-alpha-whitea-0: rgba(255, 255, 255, 1);
	--global-blue-blue--1: rgba(39, 89, 205, 1);
	--global-blue-blue--1: rgba(39, 89, 205, 1);
	--global-blue-blue-0: rgba(48, 98, 212, 1);
	--global-blue-blue-0: rgba(48, 98, 212, 1);
	--global-blue-blue-+1: rgba(103, 146, 244, 1);
	--global-blue-blue-+1: rgba(103, 146, 244, 1);
	--global-blue-blue-+2: rgba(141, 176, 251, 1);
	--global-blue-blue-+2: rgba(141, 176, 251, 1);
	--global-green-green--1: rgba(30, 113, 74, 1);
	--global-green-green--1: rgba(30, 113, 74, 1);
	--global-green-green-0: rgba(29, 124, 77, 1);
	--global-green-green-0: rgba(29, 124, 77, 1);
	--global-green-green-+1: rgba(74, 165, 120, 1);
	--global-green-green-+1: rgba(74, 165, 120, 1);
	--global-green-green-+2: rgba(117, 204, 158, 1);
	--global-green-green-+2: rgba(117, 204, 158, 1);
	--global-red-red--3: rgba(111, 32, 32, 1);
	--global-red-red--3: rgba(111, 32, 32, 1);
	--global-red-red--2: rgba(149, 45, 45, 1);
	--global-red-red--2: rgba(149, 45, 45, 1);
	--global-red-red--1: rgba(161, 54, 54, 1);
	--global-red-red--1: rgba(161, 54, 54, 1);
	--global-red-red-0: rgba(197, 52, 52, 1);
	--global-red-red-0: rgba(197, 52, 52, 1);
	--global-red-red-+1: rgba(242, 100, 100, 1);
	--global-red-red-+1: rgba(242, 100, 100, 1);
	--global-red-red-+2: rgba(244, 144, 144, 1);
	--global-red-red-+2: rgba(244, 144, 144, 1);
	--global-red-red-+3: rgba(252, 207, 207, 1);
	--global-red-red-+3: rgba(252, 207, 207, 1);
	--global-orange-orange--1: rgba(180, 97, 14, 1);
	--global-orange-orange--1: rgba(180, 97, 14, 1);
	--global-orange-orange-0: rgba(245, 150, 56, 1);
	--global-orange-orange-0: rgba(245, 150, 56, 1);
	--global-orange-orange-+1: rgba(246, 163, 81, 1);
	--global-orange-orange-+1: rgba(246, 163, 81, 1);
	--global-orange-orange-+2: rgba(254, 184, 114, 1);
	--global-orange-orange-+2: rgba(254, 184, 114, 1);
	--global-raspberry-raspberry--1: rgba(157, 52, 87, 1);
	--global-raspberry-raspberry--1: rgba(157, 52, 87, 1);
	--global-raspberry-raspberry-0: rgba(192, 48, 96, 1);
	--global-raspberry-raspberry-0: rgba(192, 48, 96, 1);
	--global-raspberry-raspberry-+1: rgba(228, 98, 141, 1);
	--global-raspberry-raspberry-+1: rgba(228, 98, 141, 1);
	--global-raspberry-raspberry-+2: rgba(236, 141, 173, 1);
	--global-raspberry-raspberry-+2: rgba(236, 141, 173, 1);
	--global-magenta-magenta--1: rgba(149, 50, 116, 1);
	--global-magenta-magenta--1: rgba(149, 50, 116, 1);
	--global-magenta-magenta-0: rgba(177, 47, 134, 1);
	--global-magenta-magenta-0: rgba(177, 47, 134, 1);
	--global-magenta-magenta-+1: rgba(222, 94, 179, 1);
	--global-magenta-magenta-+1: rgba(222, 94, 179, 1);
	--global-magenta-magenta-+2: rgba(236, 137, 203, 1);
	--global-magenta-magenta-+2: rgba(236, 137, 203, 1);
	--global-purple-purple--1: rgba(133, 50, 149, 1);
	--global-purple-purple--1: rgba(133, 50, 149, 1);
	--global-purple-purple-0: rgba(153, 57, 172, 1);
	--global-purple-purple-0: rgba(153, 57, 172, 1);
	--global-purple-purple-+1: rgba(196, 102, 219, 1);
	--global-purple-purple-+1: rgba(196, 102, 219, 1);
	--global-purple-purple-+2: rgba(217, 141, 236, 1);
	--global-purple-purple-+2: rgba(217, 141, 236, 1);
	--global-grape-grape--1: rgba(115, 57, 172, 1);
	--global-grape-grape--1: rgba(115, 57, 172, 1);
	--global-grape-grape-0: rgba(128, 64, 191, 1);
	--global-grape-grape-0: rgba(128, 64, 191, 1);
	--global-grape-grape-+1: rgba(173, 113, 234, 1);
	--global-grape-grape-+1: rgba(173, 113, 234, 1);
	--global-grape-grape-+2: rgba(196, 148, 244, 1);
	--global-grape-grape-+2: rgba(196, 148, 244, 1);
	--global-violet-violet--3: rgba(57, 40, 138, 1);
	--global-violet-violet--3: rgba(57, 40, 138, 1);
	--global-violet-violet--2: rgba(78, 56, 188, 1);
	--global-violet-violet--2: rgba(78, 56, 188, 1);
	--global-violet-violet--1: rgba(87, 63, 207, 1);
	--global-violet-violet--1: rgba(87, 63, 207, 1);
	--global-violet-violet-0: rgba(99, 78, 202, 1);
	--global-violet-violet-0: rgba(99, 78, 202, 1);
	--global-violet-violet-+1: rgba(145, 126, 241, 1);
	--global-violet-violet-+1: rgba(145, 126, 241, 1);
	--global-violet-violet-+2: rgba(171, 162, 251, 1);
	--global-violet-violet-+2: rgba(171, 162, 251, 1);
	--global-violet-violet-+3: rgba(220, 214, 255, 1);
	--global-violet-violet-+3: rgba(220, 214, 255, 1);
	--global-cyan-cyan--1: rgba(27, 103, 157, 1);
	--global-cyan-cyan--1: rgba(27, 103, 157, 1);
	--global-cyan-cyan-0: rgba(8, 112, 186, 1);
	--global-cyan-cyan-0: rgba(8, 112, 186, 1);
	--global-cyan-cyan-+1: rgba(86, 153, 220, 1);
	--global-cyan-cyan-+1: rgba(86, 153, 220, 1);
	--global-cyan-cyan-+2: rgba(121, 188, 246, 1);
	--global-cyan-cyan-+2: rgba(121, 188, 246, 1);
	--global-teal-teal--1: rgba(25, 108, 133, 1);
	--global-teal-teal--1: rgba(25, 108, 133, 1);
	--global-teal-teal-+2: rgba(122, 192, 220, 1);
	--global-teal-teal-+2: rgba(122, 192, 220, 1);
	--global-aquamarine-aquamarine--1: rgba(26, 112, 97, 1);
	--global-aquamarine-aquamarine--1: rgba(26, 112, 97, 1);
	--global-aquamarine-aquamarine-0: rgba(9, 124, 105, 1);
	--global-aquamarine-aquamarine-0: rgba(9, 124, 105, 1);
	--global-aquamarine-aquamarine-+1: rgba(61, 164, 151, 1);
	--global-aquamarine-aquamarine-+1: rgba(61, 164, 151, 1);
	--global-aquamarine-aquamarine-+2: rgba(110, 201, 191, 1);
	--global-aquamarine-aquamarine-+2: rgba(110, 201, 191, 1);
	--global-emerald-emerald--1: rgba(47, 111, 47, 1);
	--global-emerald-emerald--1: rgba(47, 111, 47, 1);
	--global-emerald-emerald-0: rgba(52, 116, 52, 1);
	--global-emerald-emerald-0: rgba(52, 116, 52, 1);
	--global-emerald-emerald-+1: rgba(85, 165, 85, 1);
	--global-emerald-emerald-+1: rgba(85, 165, 85, 1);
	--global-emerald-emerald-+2: rgba(135, 201, 135, 1);
	--global-emerald-emerald-+2: rgba(135, 201, 135, 1);
	--radius-xs: 4px;
	--radius--s: 8px;
	--radius--m: 12px;
	--radius--l: 16px;
	--radius--xxl: 24px;
}

 /* Aliases  */

:root {
	--content-primary: var(--semantic-neutral-neutral--4);
	--content-primary: var(--global-white-alpha-whitea-0);
	--content-secondary: var(--semantic-neutral-neutral-+1);
	--content-secondary: var(--global-white-alpha-whitea--4);
	--content-inverted-primary: var(--global-white-alpha-whitea-0);
	--content-inverted-primary: var(--semantic-neutral-neutral--4);
	--content-informative-primary: var(--semantic-informative-informative--1);
	--content-informative-primary: var(--semantic-informative-informative-+2);
	--content-positive-primary: var(--semantic-positive-positive--1);
	--content-positive-primary: var(--semantic-positive-positive-+2);
	--content-warning-primary: var(--semantic-warning-warning--1);
	--content-warning-primary: var(--semantic-warning-warning-+2);
	--content-negative-primary: var(--semantic-negative-negative--1);
	--content-negative-primary: var(--semantic-negative-negative-+2);
	--content-brand-primary: var(--semantic-brand-brand--1);
	--content-brand-primary: var(--semantic-brand-brand-+2);
	--border-default: var(--semantic-neutral-neutral-+5);
	--border-default: var(--global-white-alpha-whitea--7);
	--border-brand-strong: var(--semantic-brand-brand-0);
	--border-brand-strong: var(--semantic-brand-brand-+2);
	--background-default: var(--global-white-alpha-whitea-0);
	--background-default: var(--semantic-neutral-neutral--4);
	--background-neutral-strong: var(--semantic-neutral-alpha-neutrala-+1);
	--background-neutral-strong: var(--global-white-alpha-whitea--1);
	--background-neutral-on-subtle: var(--semantic-neutral-alpha-neutrala-+5);
	--background-neutral-on-subtle: var(--global-white-alpha-whitea--8);
	--background-informative-strong: var(--semantic-informative-informative-0);
	--background-informative-strong: var(--semantic-informative-informative-+1);
	--background-positive-strong: var(--semantic-positive-positive-0);
	--background-positive-strong: var(--semantic-positive-positive-+1);
	--background-warning-strong: var(--semantic-warning-warning-0);
	--background-warning-strong: var(--semantic-warning-warning-+1);
	--background-negative-strong: var(--semantic-negative-negative-0);
	--background-negative-strong: var(--semantic-negative-negative-+1);
	--background-brand-strong: var(--semantic-brand-brand-0);
	--background-brand-strong: var(--semantic-brand-brand-+1);
	--action-primary-normal: var(--semantic-brand-brand-0);
	--action-primary-normal: var(--semantic-brand-brand-+1);
	--action-primary-hover: var(--semantic-brand-brand--2);
	--action-primary-hover: var(--semantic-brand-brand-+2);
	--action-primary-active: var(--semantic-brand-brand--3);
	--action-primary-active: var(--semantic-brand-brand-+3);
	--action-primary-selected: var(--semantic-brand-brand--2);
	--action-primary-selected: var(--semantic-brand-brand-+2);
	--action-neutral-normal: var(--semantic-neutral-neutral--2);
	--action-neutral-normal: var(--global-white-alpha-whitea-0);
	--action-neutral-hover: var(--semantic-neutral-neutral--3);
	--action-neutral-hover: var(--global-white-alpha-whitea--1);
	--action-neutral-active: var(--semantic-neutral-neutral--4);
	--action-neutral-active: var(--global-white-alpha-whitea--2);
	--action-neutral-selected: var(--semantic-neutral-neutral--3);
	--action-neutral-selected: var(--global-white-alpha-whitea--1);
	--action-neutral-subtle-normal: var(--semantic-neutral-alpha-neutrala-+7);
	--action-neutral-subtle-normal: var(--global-white-alpha-whitea--10);
	--action-neutral-subtle-hover: var(--semantic-neutral-alpha-neutrala-+6);
	--action-neutral-subtle-hover: var(--global-white-alpha-whitea--9);
	--action-neutral-subtle-active: var(--semantic-neutral-alpha-neutrala-+5);
	--action-neutral-subtle-active: var(--global-white-alpha-whitea--7);
	--action-neutral-subtle-selected: var(--semantic-neutral-alpha-neutrala-+6);
	--action-neutral-subtle-selected: var(--global-white-alpha-whitea--9);
	--action-ghost-normal: var(--global-white-alpha-transparent);
	--action-ghost-normal: var(--global-white-alpha-transparent);
	--action-ghost-hover: var(--semantic-neutral-alpha-neutrala-+7);
	--action-ghost-hover: var(--global-white-alpha-whitea--10);
	--action-ghost-active: var(--semantic-neutral-alpha-neutrala-+6);
	--action-ghost-active: var(--global-white-alpha-whitea--8);
	--action-ghost-selected: var(--semantic-neutral-alpha-neutrala-+7);
	--action-ghost-selected: var(--global-white-alpha-whitea--9);
	--action-inverted-normal: var(--global-white-alpha-whitea-0);
	--action-inverted-normal: var(--semantic-neutral-neutral--4);
	--action-alert-normal: var(--semantic-negative-negative-0);
	--action-alert-normal: var(--semantic-negative-negative-+1);
	--action-alert-hover: var(--semantic-negative-negative--2);
	--action-alert-hover: var(--semantic-negative-negative-+2);
	--action-alert-active: var(--semantic-negative-negative--3);
	--action-alert-active: var(--semantic-negative-negative-+3);
	--action-alert-selected: var(--semantic-negative-negative--2);
	--action-alert-selected: var(--semantic-negative-negative-+2);
	--action-border-active: var(--semantic-brand-brand-0);
	--action-border-active: var(--semantic-brand-brand-+1);
	--action-border-neutral-normal: var(--semantic-neutral-alpha-neutrala-+5);
	--action-border-neutral-normal: var(--global-white-alpha-whitea--7);
	--action-border-neutral-hover: var(--semantic-neutral-alpha-neutrala-+4);
	--action-border-neutral-hover: var(--global-white-alpha-whitea--6);
	--action-border-neutral-active: var(--semantic-neutral-alpha-neutrala-+3);
	--action-border-neutral-active: var(--global-white-alpha-whitea--5);
	--action-border-neutral-selected: var(--semantic-neutral-alpha-neutrala-+4);
	--action-border-neutral-selected: var(--global-white-alpha-whitea--6);
	--action-border-alert: var(--semantic-negative-negative-+1);
	--action-border-alert: var(--semantic-negative-negative-+2);
	--action-background-modeless: var(--global-cool-grey-cool-grey--3);
	--semantic-brand-brand--3: var(--global-violet-violet--3);
	--semantic-brand-brand--3: var(--global-violet-violet--3);
	--semantic-brand-brand--2: var(--global-violet-violet--2);
	--semantic-brand-brand--2: var(--global-violet-violet--2);
	--semantic-brand-brand--1: var(--global-violet-violet--1);
	--semantic-brand-brand--1: var(--global-violet-violet--1);
	--semantic-brand-brand-0: var(--global-violet-violet-0);
	--semantic-brand-brand-0: var(--global-violet-violet-0);
	--semantic-brand-brand-+1: var(--global-violet-violet-+1);
	--semantic-brand-brand-+1: var(--global-violet-violet-+1);
	--semantic-brand-brand-+2: var(--global-violet-violet-+2);
	--semantic-brand-brand-+2: var(--global-violet-violet-+2);
	--semantic-brand-brand-+3: var(--global-violet-violet-+3);
	--semantic-brand-brand-+3: var(--global-violet-violet-+3);
	--semantic-neutral-neutral--4: var(--global-cool-grey-cool-grey--4);
	--semantic-neutral-neutral--4: var(--global-cool-grey-cool-grey--4);
	--semantic-neutral-neutral--3: var(--global-cool-grey-cool-grey--3);
	--semantic-neutral-neutral--3: var(--global-cool-grey-cool-grey--3);
	--semantic-neutral-neutral--2: var(--global-cool-grey-cool-grey--2);
	--semantic-neutral-neutral--2: var(--global-cool-grey-cool-grey--2);
	--semantic-neutral-neutral-+1: var(--global-cool-grey-cool-grey-+1);
	--semantic-neutral-neutral-+1: var(--global-cool-grey-cool-grey-+1);
	--semantic-neutral-neutral-+5: var(--global-cool-grey-cool-grey-+5);
	--semantic-neutral-neutral-+5: var(--global-cool-grey-cool-grey-+5);
	--semantic-neutral-alpha-neutrala-+1: var(--global-cool-grey-alpha-cool-greya-+1);
	--semantic-neutral-alpha-neutrala-+1: var(--global-cool-grey-alpha-cool-greya-+1);
	--semantic-neutral-alpha-neutrala-+3: var(--global-cool-grey-alpha-cool-greya-+3);
	--semantic-neutral-alpha-neutrala-+3: var(--global-cool-grey-alpha-cool-greya-+3);
	--semantic-neutral-alpha-neutrala-+4: var(--global-cool-grey-alpha-cool-greya-+4);
	--semantic-neutral-alpha-neutrala-+4: var(--global-cool-grey-alpha-cool-greya-+4);
	--semantic-neutral-alpha-neutrala-+5: var(--global-cool-grey-alpha-cool-greya-+5);
	--semantic-neutral-alpha-neutrala-+5: var(--global-cool-grey-alpha-cool-greya-+5);
	--semantic-neutral-alpha-neutrala-+6: var(--global-cool-grey-alpha-cool-greya-+6);
	--semantic-neutral-alpha-neutrala-+6: var(--global-cool-grey-alpha-cool-greya-+6);
	--semantic-neutral-alpha-neutrala-+7: var(--global-cool-grey-alpha-cool-greya-+7);
	--semantic-neutral-alpha-neutrala-+7: var(--global-cool-grey-alpha-cool-greya-+7);
	--semantic-informative-informative--1: var(--global-blue-blue--1);
	--semantic-informative-informative--1: var(--global-blue-blue--1);
	--semantic-informative-informative-0: var(--global-blue-blue-0);
	--semantic-informative-informative-0: var(--global-blue-blue-0);
	--semantic-informative-informative-+1: var(--global-blue-blue-+1);
	--semantic-informative-informative-+1: var(--global-blue-blue-+1);
	--semantic-informative-informative-+2: var(--global-blue-blue-+2);
	--semantic-informative-informative-+2: var(--global-blue-blue-+2);
	--semantic-positive-positive--1: var(--global-green-green--1);
	--semantic-positive-positive--1: var(--global-green-green--1);
	--semantic-positive-positive-0: var(--global-green-green-0);
	--semantic-positive-positive-0: var(--global-green-green-0);
	--semantic-positive-positive-+1: var(--global-green-green-+1);
	--semantic-positive-positive-+1: var(--global-green-green-+1);
	--semantic-positive-positive-+2: var(--global-green-green-+2);
	--semantic-positive-positive-+2: var(--global-green-green-+2);
	--semantic-warning-warning--1: var(--global-orange-orange--1);
	--semantic-warning-warning--1: var(--global-orange-orange--1);
	--semantic-warning-warning-0: var(--global-orange-orange-0);
	--semantic-warning-warning-0: var(--global-orange-orange-0);
	--semantic-warning-warning-+1: var(--global-orange-orange-+1);
	--semantic-warning-warning-+1: var(--global-orange-orange-+1);
	--semantic-warning-warning-+2: var(--global-orange-orange-+2);
	--semantic-warning-warning-+2: var(--global-orange-orange-+2);
	--semantic-negative-negative--3: var(--global-red-red--3);
	--semantic-negative-negative--3: var(--global-red-red--3);
	--semantic-negative-negative--2: var(--global-red-red--2);
	--semantic-negative-negative--2: var(--global-red-red--2);
	--semantic-negative-negative--1: var(--global-red-red--1);
	--semantic-negative-negative--1: var(--global-red-red--1);
	--semantic-negative-negative-0: var(--global-red-red-0);
	--semantic-negative-negative-0: var(--global-red-red-0);
	--semantic-negative-negative-+1: var(--global-red-red-+1);
	--semantic-negative-negative-+1: var(--global-red-red-+1);
	--semantic-negative-negative-+2: var(--global-red-red-+2);
	--semantic-negative-negative-+2: var(--global-red-red-+2);
	--semantic-negative-negative-+3: var(--global-red-red-+3);
	--semantic-negative-negative-+3: var(--global-red-red-+3);
	--non-semantic-content-white-primary: var(--global-white-alpha-whitea-0);
	--non-semantic-content-white-primary: var(--semantic-neutral-neutral--4);
	--non-semantic-content-red-primary: var(--global-red-red--1);
	--non-semantic-content-red-primary: var(--global-red-red-+2);
	--non-semantic-content-raspberry-primary: var(--global-raspberry-raspberry--1);
	--non-semantic-content-raspberry-primary: var(--global-raspberry-raspberry-+2);
	--non-semantic-content-magenta-primary: var(--global-magenta-magenta--1);
	--non-semantic-content-magenta-primary: var(--global-magenta-magenta-+2);
	--non-semantic-content-purple-primary: var(--global-purple-purple--1);
	--non-semantic-content-purple-primary: var(--global-purple-purple-+2);
	--non-semantic-content-grape-primary: var(--global-grape-grape--1);
	--non-semantic-content-grape-primary: var(--global-grape-grape-+2);
	--non-semantic-content-violet-primary: var(--global-violet-violet--1);
	--non-semantic-content-violet-primary: var(--global-violet-violet-+2);
	--non-semantic-content-blue-primary: var(--global-blue-blue--1);
	--non-semantic-content-blue-primary: var(--global-blue-blue-+2);
	--non-semantic-content-cyan-primary: var(--global-cyan-cyan--1);
	--non-semantic-content-cyan-primary: var(--global-cyan-cyan-+2);
	--non-semantic-content-teal-primary: var(--global-teal-teal--1);
	--non-semantic-content-teal-primary: var(--global-teal-teal-+2);
	--non-semantic-content-aquamarine-primary: var(--global-aquamarine-aquamarine--1);
	--non-semantic-content-aquamarine-primary: var(--global-aquamarine-aquamarine-+2);
	--non-semantic-content-green-primary: var(--global-green-green--1);
	--non-semantic-content-green-primary: var(--global-green-green-+2);
	--non-semantic-content-emerald-primary: var(--global-emerald-emerald--1);
	--non-semantic-content-emerald-primary: var(--global-emerald-emerald-+2);
	--non-semantic-content-orange-primary: var(--global-orange-orange--1);
	--non-semantic-content-orange-primary: var(--global-orange-orange-+2);
	--non-semantic-background-red-strong: var(--global-red-red-0);
	--non-semantic-background-red-strong: var(--global-red-red-+1);
	--non-semantic-background-raspberry-strong: var(--global-raspberry-raspberry-0);
	--non-semantic-background-raspberry-strong: var(--global-raspberry-raspberry-+1);
	--non-semantic-background-magenta-strong: var(--global-magenta-magenta-0);
	--non-semantic-background-magenta-strong: var(--global-magenta-magenta-+1);
	--non-semantic-background-purple-strong: var(--global-purple-purple-0);
	--non-semantic-background-purple-strong: var(--global-purple-purple-+1);
	--non-semantic-background-grape-strong: var(--global-grape-grape-0);
	--non-semantic-background-grape-strong: var(--global-grape-grape-+1);
	--non-semantic-background-violet-strong: var(--global-violet-violet-0);
	--non-semantic-background-violet-strong: var(--global-violet-violet-+1);
	--non-semantic-background-blue-strong: var(--global-blue-blue-0);
	--non-semantic-background-blue-strong: var(--global-blue-blue-+1);
	--non-semantic-background-cyan-strong: var(--global-cyan-cyan-0);
	--non-semantic-background-cyan-strong: var(--global-cyan-cyan-+1);
	--non-semantic-background-teal-strong: var(--global-cyan-cyan-0);
	--non-semantic-background-teal-strong: var(--global-cyan-cyan-+1);
	--non-semantic-background-aquamarine-strong: var(--global-aquamarine-aquamarine-0);
	--non-semantic-background-aquamarine-strong: var(--global-aquamarine-aquamarine-+1);
	--non-semantic-background-green-strong: var(--global-green-green-0);
	--non-semantic-background-green-strong: var(--global-green-green-+1);
	--non-semantic-background-emerald-strong: var(--global-emerald-emerald-0);
	--non-semantic-background-emerald-strong: var(--global-emerald-emerald-+1);
	--non-semantic-background-orange-strong: var(--global-orange-orange-0);
	--non-semantic-background-orange-strong: var(--global-orange-orange-+1);
}

