@font-face {
  font-family: Inter;
  font-weight: 400 800;
  font-display: block;
  font-style: normal;
  src: url(/Inter-roman.var.woff2) format(woff2);
}

:root {
  --neutral-100: #09090b;
  --neutral-80: #09090bcc;
  --neutral-60: #09090b99;
  --neutral-20: #09090b33;
  --neutral-20-adjusted: #09090b1a;
  --neutral-10: #09090b1a;
  --neutral-10-adjusted: #09090b0d;
  --neutral-10-background: #f4f4f5;
  --neutral-5: #09090b0d;
  --neutral-inverted-100: #f4f4f5;
  --neutral-inverted-80: #f4f4f5;
  --neutral-inverted-60: #f4f4f566;
  --neutral-inverted-20: #f4f4f533;
  --neutral-inverted-10: #f4f4f533;
  --neutral-inverted-5: #f4f4f51a;
  --red-100: #ed3131;
  --red-80: #ed3131cc;
  --red-60: #ed313199;
  --red-20: #ed313133;
  --red-10: #ed31311a;
  --red-5: #ed31310d;
  --orange-100: #eb980a;
  --orange-80: #eb980acc;
  --orange-60: #eb980a99;
  --orange-20: #eb980a33;
  --orange-10: #eb980a1a;
  --orange-5: #eb980a0d;
  --blue-100: #6366f1;
  --blue-80: #6366f1cc;
  --blue-60: #6366f199;
  --blue-20: #6366f133;
  --blue-10: #6366f11a;
  --blue-5: #6366f10d;
  --green-100: #0fa976;
  --green-80: #0fa976cc;
  --green-60: #0fa97699;
  --green-20: #0fa97633;
  --green-10: #0fa9761a;
  --green-5: #0fa9760d;
  --white-100: #f4f4f5;
  --white-80: #f4f4f5cc;
  --white-60: #f4f4f599;
  --white-20: #f4f4f533;
  --white-10: #f4f4f51a;
  --white-5: #f4f4f50d;
  --black-100: #09090b;
  --black-80: #09090bcc;
  --black-60: #09090b99;
  --black-20: #09090b33;
  --black-10: #09090b1a;
  --black-5: #09090b0d;
}

[data-theme='dark'] {
  --neutral-100: #f4f4f5;
  --neutral-80: #f4f4f5cc;
  --neutral-60: #f4f4f566;
  --neutral-20: #f4f4f533;
  --neutral-20-adjusted: #f4f4f533;
  --neutral-10: #f4f4f51a;
  --neutral-10-adjusted: #f4f4f51a;
  --neutral-10-background: #f4f4f51a;
  --neutral-5: #f4f4f50d;
  --neutral-inverted-100: #09090b;
  --neutral-inverted-80: #09090bcc;
  --neutral-inverted-60: #09090b99;
  --neutral-inverted-20: #09090b33;
  --neutral-inverted-10: #09090b1a;
  --neutral-inverted-5: #09090b0d;
  --red-100: #ef4444;
  --red-80: #ef4444cc;
  --red-60: #ef444499;
  --red-20: #ef444433;
  --red-10: #ef44441a;
  --red-5: #ef44440d;
  --orange-100: #f59e0b;
  --orange-80: #f59e0bcc;
  --orange-60: #f59e0b99;
  --orange-20: #f59e0b33;
  --orange-10: #f59e0b1a;
  --orange-5: #f59e0b0d;
  --blue-100: #7c7ef4;
  --blue-80: #7c7ef4cc;
  --blue-60: #7c7ef499;
  --blue-20: #7c7ef433;
  --blue-10: #7c7ef41a;
  --blue-5: #7c7ef40d;
  --green-100: #10b981;
  --green-80: #10b981cc;
  --green-60: #10b98199;
  --green-20: #10b98133;
  --green-10: #10b9811a;
  --green-5: #10b9810d;
  --white-100: #f4f4f5;
  --white-80: #f4f4f5cc;
  --white-60: #f4f4f599;
  --white-20: #f4f4f533;
  --white-10: #f4f4f51a;
  --white-5: #f4f4f50d;
  --black-100: #09090b;
  --black-80: #09090bcc;
  --black-60: #09090b99;
  --black-20: #09090b33;
  --black-10: #09090b1a;
  --black-5: #09090b0d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: Inter;
  margin: 0;
  overscroll-behavior: none;
  overflow-anchor: none;
}

html {
  background: var(--neutral-inverted-100);
  color: var(--neutral-100);
}
