:root {
--vh:var(--pa);
--xl:var(--oy);
--xj:var(--ms);
--xd:var(--na);
--wz:var(--nb);
--ws:var(--mz);
--wx:var(--mb);
--wp:var(--lz);
--wm:var(--lb);
--wh:var(--kz);
--wk:var(--kb);
--wg:var(--jz);
--we:var(--pq);
--wc:var(--pm);
--wa:var(--oq);
--vy:var(--nr);
--wn:var(--my);
--jh:var(--my);
--vw:var(--nb);
--vv:var(--mv);
--vu:var(--mb);
--vt:var(--lv);
--vs:var(--lb);
--vr:var(--kv);
--vq:var(--kb);
--vn:var(--jv);
--vm:var(--po);
--xk:var(--pj);
--xf:var(--ms);
--sg:var(--ms);
--sv:var(--ms);
--sb:var(--ms);
--sd:var(--ms);
--vl:var(--pa);
--st:var(--pa);
--sx:var(--pa);
--sp:var(--pa);
--sr:var(--pa);
--vi:var(--oc);
--xe:var(--nt);
--wu:var(--nr);
--xa:var(--nn);
--xg:var(--nl);
--wt:var(--nb);
--wj:rgba(48,98,212,0.24);
--wo:rgba(48,98,212,0.16);
--wy:rgba(48,98,212,0.08);
--wi:rgba(48,98,212,0.04);
--vz:var(--mb);
--wf:rgba(29,124,77,0.24);
--wl:rgba(29,124,77,0.16);
--wb:rgba(29,124,77,0.08);
--ve:rgba(29,124,77,0.04);
--vx:var(--lb);
--wd:rgba(245,150,56,0.24);
--vd:rgba(245,150,56,0.16);
--vc:rgba(245,150,56,0.08);
--vb:rgba(245,150,56,0.04);
--va:var(--kb);
--uz:rgba(197,52,52,0.24);
--uw:rgba(197,52,52,0.16);
--uv:rgba(197,52,52,0.08);
--ur:rgba(197,52,52,0.04);
--up:var(--po);
--un:rgba(99,78,202,0.24);
--um:rgba(99,78,202,0.16);
--ui:rgba(99,78,202,0.08);
--ug:rgba(99,78,202,0.04);
--uf:var(--po);
--ue:var(--pk);
--ub:var(--ps);
--ua:var(--pk);
--tz:rgba(99,78,202,0.08);
--ty:rgba(99,78,202,0.12);
--tx:rgba(99,78,202,0.16);
--tw:rgba(99,78,202,0.12);
--tv:var(--wv);
--tu:var(--wq);
--tt:var(--pa);
--ts:var(--wq);
--tr:var(--np);
--tq:var(--nr);
--tp:var(--nt);
--to:var(--nr);
--ti:var(--eo);
--tm:var(--nn);
--tf:var(--np);
--sz:var(--nn);
--uj:var(--eo);
--ut:var(--nn);
--ux:var(--np);
--ru:var(--nn);
--se:var(--ms);
--so:var(--nc);
--sl:var(--mw);
--si:var(--nc);
--ry:rgba(255,255,255,0.08);
--sj:rgba(255,255,255,0.12);
--sm:rgba(255,255,255,0.16);
--rw:rgba(255,255,255,0.12);
--rt:var(--kb);
--rs:var(--kf);
--rr:var(--kh);
--rq:var(--kf);
--rp:rgba(197,52,52,0.08);
--ro:rgba(197,52,52,0.16);
--rn:rgba(197,52,52,0.24);
--rm:rgba(197,52,52,0.16);
--qz:var(--vp);
--qx:var(--pm);
--qv:var(--po);
--qt:var(--po);
--qr:var(--nt);
--qp:var(--nv);
--qn:var(--nz);
--ql:var(--nv);
--qj:var(--kb);
--qh:rgb(255,255,255);
--qb:var(--nz);
--rj:rgb(255,255,255);
--jc:rgb(255,255,255);
--iv:var(--pa);
--po:var(--cj);
--pm:var(--ci);
--vp:var(--ch);
--pj:var(--cg);
--ph:var(--cf);
--xh:var(--ce);
--xb:var(--cd);
--vk:var(--cc);
--vg:var(--cb);
--pu:var(--cn);
--ps:var(--cm);
--pk:var(--cl);
--pq:var(--ck);
--os:var(--jf);
--oy:var(--jm);
--pe:var(--js);
--ou:var(--ji);
--ok:var(--iw);
--oq:var(--jd);
--ow:var(--jk);
--om:var(--iy);
--nw:var(--rh);
--pa:var(--jo);
--wq:var(--ju);
--wv:var(--ka);
--pc:var(--jq);
--of:var(--rg);
--oc:var(--rk);
--nz:var(--re);
--nv:var(--qy);
--nt:var(--rc);
--nr:var(--rf);
--np:var(--ra);
--nn:var(--qq);
--nl:var(--qw);
--og:var(--rl);
--oo:var(--ja);
--oa:var(--ri);
--oj:var(--rd);
--nb:var(--ma);
--mz:var(--mg);
--mx:var(--mm);
--mv:var(--mc);
--mt:var(--ls);
--mr:var(--ly);
--mp:var(--me);
--mn:var(--lu);
--ml:var(--lk);
--nj:var(--mi);
--nh:var(--mo);
--nf:var(--mu);
--nd:var(--mk);
--mb:var(--li);
--lz:var(--lo);
--lx:var(--le);
--lv:var(--ek);
--lt:var(--ej);
--lr:var(--ei);
--lp:var(--eh);
--ln:var(--eg);
--ll:var(--ef);
--mj:var(--lq);
--mh:var(--lw);
--mf:var(--lm);
--md:var(--lc);
--lb:var(--dn);
--kz:var(--dm);
--kx:var(--dl);
--kv:var(--dk);
--kt:var(--dj);
--kr:var(--in);
--kp:var(--it);
--kn:var(--di);
--kl:var(--ip);
--lj:var(--dr);
--lh:var(--dq);
--lf:var(--dp);
--ld:var(--do);
--kb:var(--ea);
--jz:var(--dz);
--jx:var(--dy);
--jv:var(--dx);
--jt:var(--dw);
--jr:var(--dv);
--jp:var(--du);
--jn:var(--dt);
--jl:var(--ds);
--kj:var(--ee);
--kh:var(--ed);
--kf:var(--ec);
--kd:var(--eb);
--jj:var(--pa);
--jg:var(--pc);
--je:var(--ms);
--jb:var(--na);
--iz:var(--ea);
--ix:var(--dz);
--iu:var(--hx);
--is:var(--id);
--iq:var(--hf);
--io:var(--hl);
--im:var(--gp);
--ik:var(--gh);
--ii:var(--cw);
--ig:var(--cv);
--ie:var(--cj);
--ic:var(--ci);
--ia:var(--ma);
--hy:var(--mg);
--hw:var(--bw);
--hu:var(--bv);
--hs:var(--bj);
--hq:var(--bi);
--ho:var(--aw);
--hm:var(--av);
--hk:var(--li);
--hi:var(--lo);
--hg:var(--aj);
--he:var(--ai);
--hc:var(--dn);
--ha:var(--dm);
--gx:rgb(85,95,109);
--gv:rgb(207,214,221);
--gs:rgb(255,255,255);
--gq:rgba(255,255,255,0.68);
--gn:rgb(197,52,52);
--gl:rgb(252,207,207);
--gi:rgb(192,48,96);
--gg:rgb(248,206,220);
--gd:rgb(177,47,134);
--gb:rgb(247,202,232);
--fy:rgb(153,57,172);
--fw:rgb(244,202,247);
--ft:rgb(128,64,191);
--fr:rgb(229,208,251);
--fo:rgb(99,78,202);
--fm:rgb(220,214,255);
--fj:rgb(48,98,212);
--fh:rgb(205,221,255);
--fe:rgb(8,112,186);
--fc:rgb(194,227,255);
--ez:rgb(7,117,151);
--ex:rgb(184,232,245);
--eu:rgb(9,124,105);
--es:rgb(190,233,228);
--ep:rgb(29,124,77);
--en:rgb(194,235,213);
--pg:rgb(52,116,52);
--pl:rgb(198,236,198);
--pi:rgb(245,150,56);
--vf:rgb(255,212,168);
--xi:var(--oc);
--vo:var(--nt);
--vj:var(--nr);
--pd:var(--nn);
--pb:var(--nl);
--xc:rgb(255,255,255);
--ww:rgba(255,255,255,0.64);
--ov:rgba(255,255,255,0.4);
--ot:rgba(255,255,255,0.12);
--wr:rgba(255,255,255,0.1);
--pf:var(--ea);
--on:rgba(197,52,52,0.24);
--ol:rgba(197,52,52,0.16);
--oz:rgba(197,52,52,0.08);
--ox:rgba(197,52,52,0.04);
--ob:var(--hx);
--nx:rgba(192,48,96,0.24);
--or:rgba(192,48,96,0.16);
--op:rgba(192,48,96,0.08);
--ny:rgba(192,48,96,0.04);
--oi:var(--hf);
--oh:rgba(228,98,141,0.24);
--od:rgba(228,98,141,0.16);
--uq:rgba(228,98,141,0.08);
--uy:rgba(228,98,141,0.04);
--oe:var(--gp);
--us:rgba(153,57,172,0.24);
--uh:rgba(153,57,172,0.16);
--uo:rgba(153,57,172,0.08);
--uu:rgba(153,57,172,0.04);
--uk:var(--cw);
--tl:rgba(128,64,191,0.24);
--tk:rgba(128,64,191,0.16);
--ul:rgba(128,64,191,0.08);
--uc:rgba(128,64,191,0.04);
--tg:var(--cj);
--te:rgba(99,78,202,0.24);
--ud:rgba(99,78,202,0.16);
--tn:rgba(99,78,202,0.08);
--tb:rgba(99,78,202,0.04);
--ta:var(--ma);
--tj:rgba(48,98,212,0.24);
--th:rgba(48,98,212,0.16);
--ss:rgba(48,98,212,0.08);
--sq:rgba(48,98,212,0.04);
--td:var(--bw);
--tc:rgba(8,112,186,0.24);
--sf:rgba(8,112,186,0.16);
--sc:rgba(8,112,186,0.08);
--sy:rgba(8,112,186,0.04);
--su:var(--bw);
--rx:rgba(8,112,186,0.24);
--sn:rgba(8,112,186,0.16);
--sw:rgba(8,112,186,0.08);
--sh:rgba(8,112,186,0.04);
--rv:var(--aw);
--sa:rgba(9,124,105,0.24);
--sk:rgba(9,124,105,0.16);
--rz:rgba(9,124,105,0.08);
--ku:rgba(9,124,105,0.04);
--la:var(--li);
--lg:rgba(29,124,77,0.24);
--kw:rgba(29,124,77,0.16);
--km:rgba(29,124,77,0.08);
--ks:rgba(29,124,77,0.04);
--ky:var(--aj);
--ko:rgba(52,116,52,0.24);
--ke:rgba(52,116,52,0.16);
--kk:rgba(52,116,52,0.08);
--kq:rgba(52,116,52,0.04);
--kg:var(--dn);
--jw:rgba(245,150,56,0.24);
--kc:rgba(245,150,56,0.16);
--ki:rgba(245,150,56,0.08);
--jy:rgba(245,150,56,0.04);
--jf:rgb(85,95,109);
--jm:rgb(126,139,153);
--js:rgb(158,168,179);
--ji:rgb(207,214,221);
--iw:rgb(222,227,231);
--jd:rgb(233,236,239);
--jk:rgb(240,243,245);
--iy:rgb(245,247,249);
--rh:rgb(251,252,253);
--jo:rgb(27,36,44);
--ju:rgb(39,46,53);
--ka:rgb(58,66,74);
--jq:rgb(74,84,94);
--rg:rgba(25,39,58,0.74);
--rk:rgba(24,48,72,0.56);
--re:rgba(13,38,64,0.4);
--qy:rgba(16,48,84,0.2);
--rc:rgba(4,41,68,0.13);
--rf:rgba(16,40,72,0.09);
--ra:rgba(2,47,82,0.06);
--qq:rgba(0,43,94,0.04);
--qw:rgba(31,82,158,0.02);
--rl:rgba(10,20,28,0.93);
--ja:rgba(10,18,25,0.88);
--ri:rgba(26,35,45,0.86);
--rd:rgba(29,41,54,0.8);
--qu:rgb(94,94,94);
--qk:rgb(137,137,137);
--qd:rgb(166,166,166);
--qg:rgb(213,213,213);
--qm:rgb(226,226,226);
--qe:rgb(235,235,235);
--py:rgb(242,242,242);
--qc:rgb(247,247,247);
--qf:rgb(252,252,252);
--rb:rgb(34,34,34);
--qs:rgb(45,45,45);
--qi:rgb(64,64,64);
--qo:rgb(82,82,82);
--pv:rgba(37,37,38,0.74);
--pn:rgba(44,44,44,0.56);
--pr:rgba(32,32,32,0.4);
--pw:rgba(46,46,46,0.2);
--pp:rgba(31,31,31,0.13);
--fz:rgba(28,28,28,0.09);
--ge:rgba(32,32,32,0.06);
--gj:rgba(46,46,46,0.04);
--ga:rgba(82,82,82,0.02);
--pz:rgba(17,17,17,0.93);
--pt:rgba(16,16,16,0.88);
--px:rgba(33,33,33,0.86);
--qa:rgba(38,38,38,0.8);
--fl:rgb(95,95,88);
--fq:rgb(139,139,132);
--fv:rgb(168,168,159);
--fn:rgb(216,216,210);
--ff:rgb(228,228,224);
--fk:rgb(234,234,230);
--fp:rgb(243,243,241);
--fg:rgb(247,247,247);
--ey:rgb(252,252,252);
--fs:rgb(35,35,33);
--fx:rgb(47,47,43);
--gc:rgb(64,64,58);
--fu:rgb(82,82,76);
--ew:rgba(39,39,29,0.74);
--fb:rgba(47,47,35,0.56);
--et:rgba(38,38,16,0.4);
--el:rgba(62,62,29,0.2);
--eq:rgba(50,50,20,0.13);
--ev:rgba(34,34,2,0.09);
--em:rgba(47,47,14,0.06);
--no:rgba(47,47,44,0.04);
--nu:rgba(82,82,82,0.02);
--fd:rgba(18,18,16,0.93);
--fi:rgba(19,19,14,0.88);
--fa:rgba(33,33,26,0.86);
--er:rgba(39,39,32,0.8);
--ms:rgb(255,255,255);
--eo:rgba(255,255,255,0);
--nq:rgba(255,255,255,0.02);
--ng:rgba(255,255,255,0.03);
--nm:rgba(255,255,255,0.05);
--ns:rgba(255,255,255,0.08);
--ni:rgba(255,255,255,0.1);
--my:rgba(255,255,255,0.12);
--ne:rgba(255,255,255,0.24);
--nk:rgba(255,255,255,0.4);
--na:rgba(255,255,255,0.64);
--mq:rgba(255,255,255,0.68);
--mw:rgba(255,255,255,0.72);
--nc:rgba(255,255,255,0.82);
--ma:rgb(48,98,212);
--mg:rgb(103,146,244);
--mm:rgb(141,176,251);
--mc:rgb(205,221,255);
--ls:rgb(215,228,255);
--ly:rgb(229,238,255);
--me:rgb(237,242,255);
--lu:rgb(245,248,255);
--lk:rgb(250,251,255);
--mi:rgb(5,32,94);
--mo:rgb(17,57,151);
--mu:rgb(30,80,192);
--mk:rgb(39,89,205);
--li:rgb(29,124,77);
--lo:rgb(74,165,120);
--le:rgb(117,204,158);
--ek:rgb(194,235,213);
--ej:rgb(198,241,218);
--ei:rgb(216,248,231);
--eh:rgb(230,249,239);
--eg:rgb(244,251,247);
--ef:rgb(254,251,251);
--lq:rgb(6,45,27);
--lw:rgb(14,78,48);
--lm:rgb(25,103,66);
--lc:rgb(30,113,74);
--ea:rgb(197,52,52);
--dz:rgb(242,100,100);
--dy:rgb(244,144,144);
--dx:rgb(252,207,207);
--dw:rgb(252,217,217);
--dv:rgb(254,230,230);
--du:rgb(255,235,235);
--dt:rgb(254,245,245);
--ds:rgb(255,250,250);
--ee:rgb(74,13,13);
--ed:rgb(111,32,32);
--ec:rgb(149,45,45);
--eb:rgb(161,54,54);
--dn:rgb(245,150,56);
--dm:rgb(246,163,81);
--dl:rgb(254,184,114);
--dk:rgb(255,212,168);
--dj:rgb(252,222,192);
--in:rgb(255,232,209);
--it:rgb(255,240,224);
--di:rgb(255,245,235);
--ip:rgb(255,252,250);
--dr:rgb(72,41,9);
--dq:rgb(122,69,16);
--dp:rgb(160,92,28);
--do:rgb(180,97,14);
--hx:rgb(192,48,96);
--id:rgb(228,98,141);
--ij:rgb(236,141,173);
--hz:rgb(248,206,220);
--hp:rgb(251,213,226);
--hv:rgb(253,227,235);
--ib:rgb(253,237,242);
--hr:rgb(254,245,248);
--hh:rgb(255,250,252);
--if:rgb(69,12,31);
--il:rgb(103,30,54);
--ir:rgb(145,43,77);
--ih:rgb(157,52,87);
--hf:rgb(177,47,134);
--hl:rgb(222,94,179);
--hb:rgb(236,137,203);
--gt:rgb(247,202,232);
--gy:rgb(251,213,238);
--hd:rgb(253,227,244);
--gu:rgb(253,237,248);
--gm:rgb(254,245,251);
--gr:rgb(255,250,253);
--hn:rgb(65,11,47);
--ht:rgb(103,30,78);
--hj:rgb(137,41,105);
--gz:rgb(149,50,116);
--gp:rgb(153,57,172);
--gh:rgb(196,102,219);
--dh:rgb(217,141,236);
--dg:rgb(244,202,247);
--df:rgb(245,213,251);
--de:rgb(248,227,253);
--dd:rgb(250,237,253);
--dc:rgb(253,245,255);
--db:rgb(254,250,255);
--gw:rgb(65,11,47);
--go:rgb(91,30,103);
--gf:rgb(121,41,137);
--gk:rgb(133,50,149);
--cw:rgb(128,64,191);
--cv:rgb(173,113,234);
--cu:rgb(196,148,244);
--ct:rgb(229,208,251);
--cs:rgb(237,219,255);
--cr:rgb(242,229,255);
--cq:rgb(246,240,255);
--cp:rgb(250,245,255);
--co:rgb(252,250,255);
--da:rgb(46,14,78);
--cz:rgb(76,34,119);
--cy:rgb(102,47,157);
--cx:rgb(115,57,172);
--cj:rgb(99,78,202);
--ci:rgb(145,126,241);
--ch:rgb(171,162,251);
--cg:rgb(220,214,255);
--cf:rgb(227,224,255);
--ce:rgb(238,235,255);
--cd:rgb(243,240,255);
--cc:rgb(247,245,255);
--cb:rgb(251,250,255);
--cn:rgb(31,18,100);
--cm:rgb(57,40,138);
--cl:rgb(78,56,188);
--ck:rgb(87,63,207);
--bw:rgb(8,112,186);
--bv:rgb(86,153,220);
--bu:rgb(121,188,246);
--bt:rgb(194,227,255);
--bs:rgb(204,231,255);
--br:rgb(224,241,255);
--bq:rgb(235,245,255);
--bp:rgb(240,249,255);
--bo:rgb(250,253,255);
--ca:rgb(0,39,66);
--bz:rgb(12,69,110);
--by:rgb(22,91,141);
--bx:rgb(27,103,157);
--bj:rgb(7,117,151);
--bi:rgb(79,158,186);
--bh:rgb(122,192,220);
--bg:rgb(184,232,245);
--bf:rgb(197,236,247);
--be:rgb(224,243,250);
--bd:rgb(232,247,252);
--bc:rgb(240,251,255);
--bb:rgb(250,254,255);
--bn:rgb(1,42,55);
--bm:rgb(10,73,92);
--bl:rgb(25,96,118);
--bk:rgb(25,108,133);
--aw:rgb(9,124,105);
--av:rgb(61,164,151);
--au:rgb(110,201,191);
--at:rgb(190,233,228);
--as:rgb(197,242,236);
--ar:rgb(218,246,243);
--aq:rgb(226,248,245);
--ap:rgb(240,250,249);
--ao:rgb(251,254,254);
--ba:rgb(1,45,38);
--az:rgb(13,74,66);
--ay:rgb(21,101,90);
--ax:rgb(26,112,97);
--aj:rgb(52,116,52);
--ai:rgb(85,165,85);
--ah:rgb(135,201,135);
--ag:rgb(198,236,198);
--af:rgb(207,242,207);
--ae:rgb(223,246,223);
--ad:rgb(230,249,230);
--ac:rgb(244,251,244);
--ab:rgb(251,254,251);
--an:rgb(10,46,11);
--am:rgb(19,83,21);
--al:rgb(36,102,38);
--ak:rgb(47,111,47);
}